<ion-tabs (ionTabsDidChange)="onTabChanged($event)">
  <ion-tab-bar slot="buttom">
    <ion-tab-button tab="lineas">
      <ion-icon name="pricetags"></ion-icon>
      <ion-label> Líneas </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="marcas">
      <ion-icon name="paper"></ion-icon>
      <ion-label> Marcas </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="clases">
      <ion-icon name="journal"></ion-icon>
      <ion-label> Clases </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
